/** @jsx jsx */
import { ReactNode } from "react";
import { jsx, css } from '@emotion/core';

export type {{properCase name}}Props = {
    children?: ReactNode;
}

export const {{properCase name}} = ({ children }: {{properCase name}}Props) => {
   return (
     <div>
        {children}
     </div>
   );
}